
  <div class="filter-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>

  <mat-table #table [dataSource]="dataSource" matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <!-- Type Column -->
    <ng-container matColumnDef="type">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Type </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.type}} </mat-cell>
    </ng-container>

    <!-- Area Column -->
    <ng-container matColumnDef="area">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Area </mat-header-cell>
      <mat-cell *matCellDef="let element"> <span [innerHTML]="element.area | cdt"></span> </mat-cell>
    </ng-container>

    <!-- Display rows -->
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"
      (click)="expandRow(row.uri)"
      (mouseover)="displayEditTools(row.uri)"
      #tableRow
      matRipple></mat-row>
  </mat-table>

  <!-- Paginator -->
  <mat-paginator #paginator
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 20]"
    (page)="closeExpanded()">
  </mat-paginator>

  <!-- Add room FAB -->
  <!-- Only visible when row not expanded -->
  <button *ngIf="expandedRow == null" class="add-item" mat-mini-fab>
      <mat-icon (click)="addRoomDialog()">add</mat-icon>
  </button>


<!-- Copyright 2017 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->