:host {
    display: flex;
    place-content: center;
    padding: 24px;
    color: #555555;
    font-weight: bold;
    background: #e3f3f1;
}
.row {
    display: flex;
    align-items: center;
    justify-content: space-around;
}