<div containerX class="container mat-elevation-z3">
    
    <!-- Add property FAB -->
    <button class="add-property" mat-mini-fab>
        <mat-icon (click)="console.log('add')">add</mat-icon>
    </button>

    <!-- Header -->
    <mat-toolbar class="header">
        <span>Properties</span>
        <span class="fill"></span>
        <span>{{URI}}</span>
        <mat-icon class="delete-icon" (click)="deleteRoomDialog()">delete</mat-icon>
    </mat-toolbar>
    
    
    <room-property-table></room-property-table>

</div>